/*
    DINAMICKA DEVELOPMENT
    Documentation

    #.Typography
    1.Header
    2.Video
    3.Shorcut
    4.Tech
    5.StartingPoint
    6.Arsenal
    7.H2h
    8.Contact
    9.Footer
*/

/*<-------------     #.Typography ------------------->*/
h2{
    font-family: 'Droid Serif', serif;
    font-size: 2em;     
    text-transform:uppercase;
    letter-spacing:0.1em;
}
p{
    letter-spacing:0.1em;
}
#info-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 113px;
    height: 36px;
    background-color: rgba(0,0,0,0.3);
    z-index: 2000;
}

/*<========== 1.Header ===============>*/
body {margin:0;height:3000px;
}
header{
    display:block;
    height:155px;
}
.menu_area{
    height:100%;
}

.navbar
{
    margin-bottom:0px !important;
}

.navbar-default{ 
    background-color:#fafafa;    
    border-color: transparent;
    margin-top: 0;
    padding: 40px 0;
}
.past-main {
    padding: 11px 0 8px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.navbar-fixed-top .navbar-collapse
{
    max-height:490px !important;
    /*margin-top:40px;*/
}

    /*.past-main .navbar-fixed-top .navbar-collapse {
    
        margin-top:5px;

    }*/



#Layer_1 {

    padding:0px !important;
    height:73px;
    width: 220px;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.col-sm-4 #Layer_1 
{
    width: 147px;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}


.past-main svg#Layer_1
{
    height:73px;
    width:147px; 
    margin:1px 0 0 0

}

ul{
  
 padding: 0;
  margin: 0;
  list-style: none;
}
#top-menu li a{

line-height: 3;
height:73px;
font-family: 'Droid Serif', serif ;
font-size:1.063em;

text-transform:uppercase;
letter-spacing:0.007em;
}
#top-menu li a:hover{
color:#202020;background-color: transparent;
}

    #top-menu li a.gray {
       color:#dadada;    
    }


    
    #top-menu li a.black {

        color:#202020;background-color: transparent;
    }

/*<========== 2.Video ===============>*/

#Slider-with-video 
{
    /*height:655px;*/

}

.embed-responsive-16by9 {
    padding-bottom:7.03%;
    /*height:655px;*/
}


#video{

    display:block;
    width:100%;
    height:auto;
    background:#000;
}
video{

        /*min-height:100%;
        min-width:100%;

        width:auto;
        height:auto;*/
}
.slick-slide{position:relative;}

.video-info {
    
    text-align:center;

    width:100%;

    position: absolute;
    top: calc(50% - 7em);
    /*left: calc(50% - 28em);*/
    z-index: 10000;
}
.bordered-text{
    font-family: 'Droid Serif',serif;
    font-size: 2em;
    color: #fafafa;
    letter-spacing: 0.1em;
    line-height: 2em;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.7);
    text-transform: uppercase;
    width: 11em;
    height: 2em;
    margin:0 auto 2em;
}
.huge-text{

    display:inline-block;
    
    text-transform:uppercase;
    font-family: 'Droid Serif',serif;
    color: #fafafa;
    letter-spacing: 0.2em;
}
/*<========== 3.Shortcut ===============>*/
#shortcut{
    display:block;
    width:100%;
    background-color:#fafafa;
}
.all_shorts{    
    width: 50%;
    margin: 0 auto;
}
.shortcut-holder{
    width: 150px;
    height: 100%;
    margin: 44px 0;
    display: inline-block;
}
.shortcut-svg{
    display: table;
    margin: 44px auto 22px;

    /*display: block;
    margin: 44px 0 22px;
    height: 64px;
    text-align: center;
    line-height: 64px; posible*/
}
.shortcut-svg svg{
    height:4em;
}
.shortcut-p{
    font-family: 'Droid Serif', serif;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin: 0 0 44px;
}
/*<========== 4.Tech ===============>*/
#Tech{
    display:block;
    width:100%;
    background:#262626;
}
#Tech h2{
    margin: 75px 0 27px;
    color:#fafafa;
}
#Tech h2+p{
    font-family: 'Roboto', sans-serif;    
    font-size: 1.25em;
    margin: 27px 0 29px;
    color:#fafafa;
    /*width: 55%;*/
}

.tech-img-container 
{
    position:relative;
}

.tech-img-container > img{
    
    width:100%;
    max-height:679px;
}

.tech-img-container > div 
{

    position:absolute;
    top:calc(50% - 2em);
    left:calc(50% - 10em);

    color:white;
    
    font:  2.286em 'Roboto' ;
    font-weight:100;

    font-style:normal;
    
} 

/*<========== 5.StartingPoint ===============>*/

.conteiner_for_text 
{    
    
    margin: 75px auto 70px;
    /*width:620px;*/ 
    height:80px;
}

.different_point 
{
    font: 2em 'Droid Serif', serif;
    letter-spacing:2px;
    width:auto; 
    height:30px; 
     
}

.work_backwards 
{
    margin: 30px 0 70px 0;
    letter-spacing:1px;
    font: 1.5em Roboto;
    width:auto; 
    height:20px; 
    
}

.container_sequence 
{

    /*display:table-row;*/
    display:table;
    
    max-width:1200px;
    height: 60px;
     
    
    font-family: "Droid Serif";
    letter-spacing:1px;
    

    margin: 0 auto;
}

.all_containers {
    
    vertical-align: middle;
    display: table-cell;
    height: 60px;
    border: 1px solid #696969;

    
}

.block-cell
{
    display: table-cell;
    font-size: 1em;
    border: none;

}

.block-table
{
    width:100%;
    display: table;
}


.first_block 
{  

   width:250px;
 }

.second_block 
{
    /*width:21%;*/
 
}

.third_block 
{
    /*width:14%;*/ 
}

.fourth_block 
{
    /*width:15%;*/ 
}

.fifth_block 
{
    /*width:17%;*/ 
}

.sixth_block 
{
    /*width:24%;*/ 
}

.seventh_block 
{
   
   width:345px;
   
}

.line 
{
    
    min-width:15px;
    height:30px;
    border: 1px solid;
    border-color: transparent transparent #696969  transparent  
}



.text_block {
    font: 1.5em Roboto;
    letter-spacing: 1px;
    margin: 80px auto 0;
    max-width: 980px;

    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    -webkit-transition: all linear 1s;
    transition: all linear 1s;
}


.X_conteiner 
{
 width:10%;
 height:60px;
}

.X  
{
    width:190px;

    height:170px;
    
    position:absolute;
    z-index:5;
 
    background-image:url(../images/X.png);  
}

/*#StartingPoint{
    display:block;
    width:100%;
    background-color:#fafafa;
    text-align:center;
   padding-bottom: 75px;
}
#StartingPoint h2{
    margin: 75px 0 27px;
    color:#202020;
    text-align:center;
}
#StartingPoint h2+p{
    font-family: 'Roboto', sans-serif;    
    font-size: 1.5em;
    margin: 0 0 39px;
    color:#202020;
    
}
.animation-holder{
    width: 100%;
    height: 144px;
    background-color: aquamarine;
}
.animation-holder + p,.animation-holder ~ span {
    font-family: 'Roboto', sans-serif;    
    font-size: 1.5em;
    margin:21px 0 0 ;
    color:#202020;
    letter-spacing:0.1em;
}*/    
/*<========== 6.Arsenal =====================>*/
#arsenal{
    width:100%;
    background-color:#262626;
} 
#arsenal h2{
    margin: 75px 0 27px;
    color:#fafafa;
}
#arsenal p{
    font-family: 'Roboto', sans-serif;    
    font-size: 1.25em;
    margin: 27px 0 29px;
    color:#fafafa;
    width: 55%;
}
.arsenal-img-text{
    width: 50%;
    float: left;
    position:relative;
}

.arsenal-img-text span,
.full {
    font-family: Roboto;
    font-size: 2em;
    color: #fafafa;
    font-weight: 100;
    letter-spacing: 0.1em;
    position: absolute;
    text-align: center;
    padding: 30px;
    opacity: 0.7;
}
.img-full img,.arsenal-img-text img
{width:100%}
.arsenal-img-text-full{width:100%;position:relative;margin-bottom:75px;}
.arsenal-img-text-full .bordered-text {
    position: absolute;
    bottom: 60px;
    left: calc(50% - 5.5em);
}
.arsenal-textUnderBorder{
    font-size: 1.125em;
    display: block;
    bottom: 55px;
    left: calc(50% - 8em);
    font-weight: 400;
    font-family: Roboto;
    color: #fafafa;
    letter-spacing: 0.1em;
    position: absolute;
    text-align: center;
    padding: 30px;
    opacity: 0.7;
}
/*<========== 7.h2h ===============>*/
#h2h{
    width:100%;
    background-color:#fafafa;
}
#h2h h2{
    margin: 75px 0 27px;
    color:#262626;
}
#h2h h2+p{
    font-family: 'Roboto', sans-serif;    
    font-size: 1.25em;
    margin: 27px 0 29px;
    color:#262626;
    width: 55%;
}
.img-text{
    width: 100%;
    height: auto;
    background: url('../images/Image5.png') center 100%;
    background-size: cover;
    height: 971px;
}
.img-text div:first-child{
    width: 100%;
    min-height:66%;
    padding-top: 3%;
    font-family: Roboto;
    font-size: 2em;
    color: #fafafa;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-align: center;
    opacity: 0.7;
}
.img-text div:nth-child(2){    
    width: 100%;
    min-height: 11%;
    font-family: Roboto;
    font-size: 2em;
    color: #fafafa;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-align: center;
    opacity: 0.7;
}
.img-text div:nth-child(3){   
    width: 100%;
    min-height: 3%;
    font-size: 1.125em;
    font-weight: 400;
    font-family: Roboto;
    color: #fafafa;
    letter-spacing: 0.1em;
    text-align: center;
    opacity: 0.7;
}
.img-text div:nth-child(4){
    width:16em;
}
/*<========== 8.Contact ===============>*/
#contact{
    width:100%;
    background-color:#fafafa;
}
#contact h2{
    margin: 75px 0 27px;
    color:#262626;
    text-align:center;
}
#contactForm{
    text-align:center;
        margin-bottom: 75px;
}
.form-control::-moz-placeholder {
  color: #999;
  font-family:Roboto;
  font-weight:400;}
.form-control:-ms-input-placeholder {
  color: #999;
  font-family:Roboto;
  font-weight:400;}
.form-control::-webkit-input-placeholder {
  color: #999;
  font-family:Roboto;
  font-weight:400;}

.Formhalf {
    width: 49.1%;
    float: left;
    margin: 5px;

}
.form-control {
    display: block;
    width: 100%;
    height: 62px;
    padding: 25px 19px;
    font-size: 14px;
    margin: 10px;
    line-height: 1.428571;
    color: #262626;
    border-radius:0;
    letter-spacing: 0.1em;
    background-color: #fafafa;
    background-image: none;
    border: 1px solid #262626;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}
.form-control:active{
    border-color:initial;
    box-shadow:0;
}
input.submitBtn{
    letter-spacing: 0.1em;
    padding: 20px 64px;
    font-size: 2em;
    font-weight: 300;
    font-family: Roboto;
    background-color: #fafafa;
    border: 1px solid #262626;
}
/*<========== 9.Footer ===============>*/
footer{
    background-color:#262626;
    width:100%;

}
.underlogo{
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    margin: 27px 0 29px;
    color: #fafafa;
}
.info:nth-child(1){
    width:20%;
    float:left;
}
.info:nth-child(2){
    width:80%;
}
.icon{
    width: 32px;
    height: 32px;
    background-color: #fafafa;
    border-radius: 50%;
    text-align: center;
    line-height: 31px;
    margin: 10px 0px;
    font-size: 1.5em;
}
.icon_label{
    font-family: Roboto;
    font-size: 1.125em;
    letter-spacing: 0.1em;
    height: 23px;
    color: #fafafa;
    margin: 12px 0;
    float: left;
}
.svg-footer{
    width:330px;
    margin:25px 13px 0;
}
.social{
    margin: 50px 0;
}
.social a{
    display: block;
    width: 32px;
    height: 32px;
    background-color: #fafafa;
    border-radius: 50%;
    line-height: 31px;
    margin: 0 8px;
    float: left;
    color: #262626;
    font-size: 1.5em;
    text-align: center;
}
footer div.row:nth-child(3){
    background-color:#fafafa;
}
.rights{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #262626;
}





@media (min-width: 320px) {
    
/*////////////////////////////////////// HEADER 320< /////////////////////////////////////////////////*/

    #top-menu li a {
        text-align: center;
        line-height: 3;
        height: 50px;
    }



/*////////////////////////////////////// VIDEO SECTION 320< /////////////////////////////////////////////////*/

.huge-text  /*text on video */ 
    { 
          font-size: 2em;
    }

/*///////////////////////////////////// ICONS SECTION 320< /////////////////////////////////////////*/

    .shortcut-p {
        font-size: 1.5em;
    }

/*////////////////////////////////////// TECH SECTION 320< /////////////////////////////////////////////////*/

#Tech { /*section tech*/
        text-align: center;
    }

.tech-img-container > div {
        font-size: 1.5em ;
        
        
    } 


/*///////////////////////////////////// StartingPoint SECTION 320< //////////////////////////////////////////////////*/

    .block-cell > .block-table
    {
        display:none;
        width: 50px;
    }

    .block-cell 
    {        
        width: 50px !important;
    }

    .text_block 
    {
        font: 1.0em Roboto;
    }

    .container_sequence 
    {
     font-size: 1.5em;
     font-weight:normal;

    }

    .X {
        top: calc(50% - 4em);
        left: calc(50% - 7.8em);
    } 


}

@media (min-width: 768px) {

/*////////////////////////////////////// HEADER 768< ////////////////////////////////////////////////////////*/

    #top-menu li a {
        text-align: center;
        line-height: 3.5;
        height: 73px;
    }

    #Layer_1 {
        height: 73px;
        width: 147px;
    }

    .nav > li > a {
        padding: 10px 10px !important;
    }

/*////////////////////////////////////// VIDEO SECTION 768< /////////////////////////////////////////////////*/

    .huge-text /*text on video */ {
        font-size: 3em;
    }

/*///////////////////////////////////// ICONS SECTION 768< /////////////////////////////////////////////////*/



    .shortcut-p {
        font-size: 1em;
    }

/*///////////////////////////////////// TECH SECTION 768< //////////////////////////////////////////////////*/

    #Tech { /*section tech*/
        text-align: center;
    }


    .tech-img-container > div {
        font-size: 2em ;
        
    } 

/*///////////////////////////////////// StartingPoint SECTION 768< //////////////////////////////////////////////////*/

   .block-cell > .block-table
    {
        display:table;
        width:100%;
    }

   .block-cell 
    {        
        width: 593px;
    }

   .text_block 
    {
        font: 1.5em Roboto;
    }

    .container_sequence 
    {
     font-size: 1.0em;
     font-weight:bold;

    }

    .X {
        top: calc(50% - 6em);
        left: calc(50% - 8em);
    } 


}

@media (min-width: 992px) {

/*////////////////////////////////////// HEADER 992< //////////////////////////////////////////////////////*/

    #top-menu li a {
        text-align: center;
        line-height: 3.5;
        height: 73px;
    }


    #Layer_1 {
        height: 73px;
        width: 220px;
    }

/*////////////////////////////////////// VIDEO SECTION 992< /////////////////////////////////////////////////*/

    .huge-text /*text on video */ {
        font-size: 3.25em;
    }

/*///////////////////////////////////// TECH SECTION 992< //////////////////////////////////////////////////*/



    #Tech { /*section tech*/
        text-align: initial;
    }

    .tech-img-container > div {
        font-size: 2.286em ;

        
    }
    
/*///////////////////////////////////// StartingPoint SECTION 992< //////////////////////////////////////////////////*/

.container_sequence 
    {
     font-size: 1.4em;
     font-weight:normal;

    }
    
.X {
        top: calc(50% - 5em);
        left: calc(50% - 8em);
    } 
}

@media (min-width: 1200px) {

    /*///////////////////////////////////// StartingPoint SECTION 1200< //////////////////////////////////////////////////*/

    


    .container_sequence 
    {
     font-size: 1.714em;
     font-weight:normal;
    }

    .X {
        top: calc(50% - 3em);
        left: calc(50% - 8em);
    }
}