/*
    DINAMICKA DEVELOPMENT
    Documentation

    #.Typography
    1.Header
    2.Video
    3.Shorcut
    4.Tech
    5.StartingPoint
    6.Arsenal
    7.H2h
    8.Contact
    9.Footer
*/

/*<-------------     #.Typography ------------------->*/

/*html, body 
{
   overflow:visible !important;
}*/ 

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 99999;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/status.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

h2{
    font-family: 'Droid Serif', serif;
         
    text-transform:uppercase;
    letter-spacing:0.1em;
}
p{
    letter-spacing:0.1em;
}
#info-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 113px;
    height: 36px;
    background-color: rgba(0,0,0,0.3);
    z-index: 2000;
}

/*<========== 1.Header ===============>*/

header{
    display:block;
    height:99px;
}
.menu_area{
    height:100%;
}

.navbar
{
    margin-bottom:0 !important;
}

.navbar-default{ 
    background-color:#fafafa;    
    border-color: transparent;
    margin-top: 0;
    padding: 40px 0;
}
.past-main {
    padding: 11px 0 8px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.navbar-fixed-top .navbar-collapse
{
    max-height:490px !important;
    /*margin-top:40px;*/
}

    /*.past-main .navbar-fixed-top .navbar-collapse {
    
        margin-top:5px;

    }*/



#Layer_1 {

    padding:0 !important;
    /*height:73px;
    width: 220px;*/
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

/*.col-sm-4 #Layer_1 
{
    width: 147px;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}*/
.top-soc{
    height: 32px;
    margin:22px 0!important;
}
.top-soc a{
    background-color:#262626!important;
    color:#fafafa!important;
}

.past-main svg#Layer_1
{
    /*height:73px;
    width:147px;*/ 
    margin:1px 0  0 14px;

}

ul{
  
  padding: 0;
  margin: 0;
  list-style: none;
}
#top-menu li a{

line-height: 3;
height:73px;
font-family: 'Droid Serif', serif ;
font-size:1.063em;

text-transform:uppercase;
letter-spacing:0.007em;
}
#top-menu li a:hover{
color:#202020;background-color: transparent;
}

    #top-menu li a.gray {
       color:#dadada;    
    }


    
    #top-menu li a.black {

        color:#202020;background-color: transparent;
    }

/*<========== 2.Video ===============>*/


.ms-slide video{
    /*position:relative;
    top:-80px;*/
display:none;
margin-top: 0 !important;
}

.ms-slide-bgcont img{
    /*position:relative;*/
    /*top:-80px;*/    
    margin-top:0  !important;
    margin-left:0 !important;

}
.video-info {
    
    text-align:center;

    width:100%;

    position: absolute;
    top: calc(50% - 7em);
    z-index: 10000;
}
.bordered-text{
    visibility:hidden;
    font-family: 'Droid Serif',serif;
    font-size: 2em;
    color: #fafafa;
    letter-spacing: 0.1em;
    line-height: 2em;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.7);
    text-transform: uppercase;
    width: 11em;
    height: 2em;
    margin:1.5em auto 30px;
}
.huge-text{

    display:inline-block;
    
    text-transform:uppercase;
    font-family: 'Droid Serif',serif;
    color: #fafafa;
    letter-spacing: 0.2em;
}

.absolute-pos-shortcut{    
    position: absolute;
    bottom: 0;
}
.absolute-pos-shortcut~svg path{
    fill:#fafafa;
    opacity:0.7;
}
.shortcut-svg{
    display: table;
}
.shortcut-svg svg{
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
        cursor:pointer;
}
.shortcut-svg svg path, .shortcut-svg svg rect {
        fill: #fafafa;
        opacity: 0.5;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
.active-svg {
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
.active-svg path,.active-svg rect{
    opacity:1!important;
}
/*<========== 3.Shortcut === disable for a time ============>*/
#shortcut{
    display:block;
    width:100%;
    background-color:#fafafa;
}
.all_shorts{    
    width: 50%;
    margin: 0 auto;
}
.shortcut-holder{
    width: 150px;
    height: 100%;
    margin: 44px 0;
    display: inline-block;
}

.shortcut-p{
    font-family: 'Droid Serif', serif;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin: 0 0 44px;
}
/*<========== 4.Tech ===============>*/
#Tech_text{
    min-height:195px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    display:block;
    width:100%;
    background:#262626;
}
#Tech_text h2{
    
    color:#fafafa;
}
#Tech_text h2+p{
    padding:0;
    font-family: 'Roboto', sans-serif;    
    font-size: 1.25em;
    color:#fafafa;
}

.tech-img-container 
{
    position:relative;
}

.tech-img-container > img{
    
    width:100%;
    max-height:679px;
}

.tech-img-container > div 
{

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: calc(50% - 2.5em);
  
  text-align:center;
  color: white;
  font: 2.286em 'Roboto';
  font-weight: 100;
  font-style: normal;
    
} 

#Tech_block 
{
    background:#262626;
}

#Tech_block a.section {
    display:block;
    text-align:center;
    text-decoration:none;
    color:#fafafa;
    background:#262626;
    letter-spacing:0.1em;
    font-family: Roboto;


}

#Tech_block a.section:hover {
    color:black;
    background:#fafafa;  
    

}

    #Tech_block a.section:hover svg path {

        fill: black;
 
    }

    #Tech_block a.section:hover svg rect {

        fill: black;
 
    }

    #Tech_block a.section > span {
        display:block;
    } 


/*<========== 5.StartingPoint ===============>*/

.conteiner_for_text 
{    
    
    margin: 75px auto 70px;
    /*height:80px;*/
}

.different_point 
{
    font-family:'Droid Serif', serif;
    
    letter-spacing:2px;
    width:auto; 
    height:auto;
    margin: 75px auto 27px auto; 
     
}

.work_backwards 
{
    margin: 0 0 70px 0;
    letter-spacing:1px;
    font-family:Roboto;
    
    width:auto; 
    height:auto; 
    
}

.container_sequence 
{
    position:relative;
    /*display:table-row;*/
    display:table;
    
    max-width:1200px;
    height: 60px;
     
    
    font-family: "Droid Serif";
    letter-spacing:1px;
    

    margin: 0 auto;
}

.all_containers {
    
    vertical-align: middle;
    display: table-cell;
    height: 60px;
    border: 1px solid #696969;

    
}

.block-cell
{
    position:relative;

    display: table-cell;
    /*font-size: 24px;*/
    border: none;

}

.block-table
{
    width:100%;
    display: table;
}


.first_block 
{  
    text-align:center;    
    padding: 0 5px;
 }

.second_block {/*width:21%;*/}
.third_block {/*width:14%;*/ }
.fourth_block { /*width:15%;*/}

.fifth_block 
{
    /*width:17%;*/ 
}

.sixth_block 
{
    /*width:24%;*/ 
}

.seventh_block 
{
     text-align:center;
     padding: 0 5px;
      
}

.line 
{
    
    min-width:15px;
    height:30px;
    border: 1px solid;
    border-color: transparent transparent #696969  transparent  
}



.text_block {
    text-align:center;
    font-family: Roboto;
    letter-spacing: 1px;
    margin: 80px auto 0;
    max-width: 980px;
    padding:0 !important;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    -webkit-transition: all linear 1s;
    transition: all linear 1s;
}

    .text_block p {
      margin:0;
    }

    .text_block p:last-child {
      margin: 0 0 47px 0;
    }

.X  
{
    width:190px;
    height:170px;
    
    top:-36px;
    left: -39px;

    position:absolute;
    z-index:5;
 
    background-image:url(../images/X.png);  
}


/*#StartingPoint{
    display:block;
    width:100%;
    background-color:#fafafa;
    text-align:center;
   padding-bottom: 75px;
}
#StartingPoint h2{
    margin: 75px 0 27px;
    color:#202020;
    text-align:center;
}
#StartingPoint h2+p{
    font-family: 'Roboto', sans-serif;    
    font-size: 1.5em;
    margin: 0 0 39px;
    color:#202020;
    
}
.animation-holder{
    width: 100%;
    height: 144px;
    background-color: aquamarine;
}
.animation-holder + p,.animation-holder ~ span {
    font-family: 'Roboto', sans-serif;    
    font-size: 1.5em;
    margin:21px 0 0 ;
    color:#202020;
    letter-spacing:0.1em;
}*/    
/*<========== 6.Arsenal =====================>*/
#arsenal{
    width:100%;
    background-color:#262626;
} 
#arsenal_header{
   min-height: 140px;
}

#arsenal h2{
    margin: 3% 0 1%;
    color:#fafafa;
}
#arsenal p{
    padding:0;
    font-family: 'Roboto', sans-serif;    
    color:#fafafa;
    /*width: 55%;*/
}
.arsenal-img-text{
    width: 50%;
    float: left;
    height:600px
}
/*.img-phone{background:url('../images/Image container copy 2.png') center 100% no-repeat;background-size:cover;}
.img-door{background:url('../images/Image container copy 3.png') center 100% no-repeat;background-size:cover;}*/
.arsenal-img-text div{
    width:100%;   
    height:20%; 
    font-family: Roboto;
    
    color: #fafafa;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 30px;
    opacity: 0.7;}

.arsenal-img-text-full{margin-bottom:52px; background:url('../images/Image container copy 4.png') center 100% no-repeat;background-size:cover;height:371px}
.arsenal-img-text-full div:nth-child(1){
    width:100%;    
    height:65%;
    font-family: Roboto;
    font-size: 2em;
    color: #fafafa;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 30px;
    opacity: 0.7;
}

.first_block_text, .second_block_text {
    display: block;
    font-weight: 100;
    font-family: Roboto;
    
    color: #fafafa;
    letter-spacing: 0.1em;
    text-align: center;

}

#img_bg 
{
    background:url(../images/Assets/FullArsenal.jpg) center;
    background-size:cover;
}

/*<========== 7.h2h ===============>*/
#h2h{
    width:100%;
    background-color:#fafafa;
}
#h2h_heaser{
    min-height:165px;
}
#h2h h2{
    /*margin: 3% 0 1%;*/
    color:#262626;
}
#h2h h2+p{
    font-family: 'Roboto', sans-serif;    
    padding:0 !important;
    /*margin: 1% 0 2%;*/
    color:#262626;
    letter-spacing:0.1em;
    /*width: 55%;*/
}
.img-text{
    width: 100%;
    background: url('../images/Assets/H2H.jpg') center 100%;
    background-size: cover;
    
}
#h2h_first_text{
    
    display: block;
    font-weight: 100;
    font-family: Roboto;
    
    color: #fafafa;
    letter-spacing: 0.1em;
    text-align: center;
    
}
#item-for-margin{
    margin: 1.5em auto;    
    width: 100%;
    min-height: 11%;
    font-family: Roboto;
    color: #fafafa;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-align: center;
}

.img-text .bordered-text{   
    
  font-family: 'Droid Serif',serif;
  color: #fafafa;
  letter-spacing: 0.1em;
  line-height: 2em;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.7);
  text-transform: uppercase;
  width: 15em;
  height: 2em;
  margin: 0 auto 30px;
}
.img-text div:nth-child(4){
    display:table;
    white-space:nowrap;
    padding:0 5px;
}
/*<========== 8.Contact ===============>*/
#contact{
    width:100%;
    background-color:#fafafa;
}
#contact h2{
    margin: 75px 0 27px;
    color:#262626;
    text-align:center;
    display:inherit;
}
#contactForm{
    text-align:center;
        margin-bottom: 75px;
}
.form-control::-moz-placeholder {
  color: #999;
  font-family:Roboto;
  font-weight:400;}
.form-control:-ms-input-placeholder {
  color: #999;
  font-family:Roboto;
  font-weight:400;}
.form-control::-webkit-input-placeholder {
  color: #999;
  font-family:Roboto;
  font-weight:400;

}

.Formhalf {
    width: 50%;
    float: left;
    padding: 0 5px;
}
.form-control {
    display: block;
    width: 100%;
    height: 62px;
    padding: 24px 19px;
    font-size: 14px;
    margin: 10px 0;
    line-height: 1.428571;
    color: #262626;
    border-radius:0;
    letter-spacing: 0.1em;
    background-color: #fafafa;
    background-image: none;
    border: 1px solid #262626;
    -webkit-transition: box-shadow ease-in-out .5s;
    -o-transition: box-shadow ease-in-out .5s;
    -moz-transition: box-shadow ease-in-out .5s;
    transition: box-shadow ease-in-out .5s;
}
.unresizeble{
    height: 278px !important;
    resize:none;

}
.form-control:focus{
    border-color:initial;
    box-shadow:0 0 2px 1px rgba(0,0,0,0.5);
}
input.submitBtn{
    letter-spacing: 0.1em;
    padding: 20px 64px;
    font-size: 2em;
    font-weight: 300;
    font-family: Roboto;
    background-color: #fafafa;
    border: 1px solid #262626;
}




.modal
{
    font-family:Roboto;
}




/*<========== 9.Footer ===============>*/
footer{
    background-color:#262626;
    width:100%;

}
.underlogo{
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 1% 0 2%;
    color: #fafafa;
    letter-spacing: 0.05em;
}
.info:nth-child(1){
    float:left;
    min-width: 18%;
    max-width:20%;
}
.info:nth-child(2){
    min-width:80% ;max-width:82%;display: inline-block;
}
.icon{
    width: 32px;
    height: 32px;
    background-color: #fafafa;
    border-radius: 50%;
    text-align: center;
    
    margin: 0 auto 13% auto;
    font-size: 1.3em;
}

.icon-mail {
    line-height: 31px;

}

.icon-tel {
    line-height: 34px;
}

.icon_label{
    font-family: Roboto;
    letter-spacing: 0.1em;
    line-height: 31px;
    color: #fafafa;
  
}
.svg-footer{
    width:330px;
    margin:25px 0 0;
}
.social{
}
.social a{
    display: block;
    width: 32px;
    height: 32px;
    background-color: #fafafa;
    border-radius: 50%;
    line-height: 31px;
    margin: 0 1%;
    
    
    color: #262626;
    font-size: 1.5em;
    text-align: center;
}
footer div.row:nth-child(3){
    background-color:#fafafa;
}
.rights{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #262626;
    padding: 12px 0;
}





@media (min-width: 320px) {
    
    /*h2 
        {
          font-size: 1.5em !important;
        }

        h2 + p {
            font-size: 1em !important;
        }*/

/*////////////////////////////////////// HEADER 320< /////////////////////////////////////////////////*/

    #Layer_1 {

    
    height:73px;
    width: 145px;
    
}
    #header .col-xs-6 
    {
        padding: 0;
    }


    #top-menu li a {
        text-align: center;
        line-height: 3;
        height: 50px;
    }



/*////////////////////////////////////// VIDEO SECTION 320< /////////////////////////////////////////////////*/

   .master-slider h2 {
        font-size: 2.02em !important;
        
    }

    .master-slider h1 {
        font-size: 1.15em !important;
    }

.huge-text  /*text on video */ 
    { 
          font-size: 1.3em;
    }
.absolute-pos-shortcut{
    left:calc(50% - 167px);
}
    .shortcut-svg svg {
        height:2.0em;
    }
    .shortcut-svg {margin:0 auto 22px}
/*///////////////////////////////////// ICONS SECTION 320< /////////////////////////////////////////*/

    .shortcut-p {
        font-size: 1.5em;
    }

/*////////////////////////////////////// TECH SECTION 320< /////////////////////////////////////////////////*/

   #Tech_text h2  {
        font-size: 1.25em;
        margin: 9% 0 1%;
    }

    #Tech_text h2 + p {
        margin: 4% 0 2%;
        font-size: 0.93em;
    }

/*.tech-img-container > div {
        font-size: 1.5em ;
        
        
    }*/ 

#Tech_block a.section 
    {
    
          font-size:1.15em;

    }


/*///////////////////////////////////// StartingPoint SECTION 320< //////////////////////////////////////////////////*/

    .different_point {
        font-size: 1.25em;
    }

    .work_backwards 
    {
      font-size: 0.93em ;
    }

   .block-cell > .block-table
    {
        display:none;
        width: 50px;
    }

    .block-cell 
    {        
        width: 50px !important;
    }

    .text_block 
    {
        font-size: 0.93em;
    }

    .container_sequence 
    {
     font-size: 0.93em;
     font-weight:normal;

    }

    .X  

    {
        width: 133px;
        height: 119px;
        top: -18px;
        left: -18px;
        background-size: 133px 119px;

    }
 

/*///////////////////////////////////// Arsenal SECTION 320< //////////////////////////////////////////////////*/
    #arsenal h2 {
        font-size: 1.25em;
        margin: 9% 0 1%;
    }
    #arsenal p
    {
          margin: 4% 0 2%;
          font-size: 0.93em;

    }

    .first_block_text, .second_block_text 
    {
        font-size: 0.93em;
    }

   
     .arsenal-img-text{height:300px}
    
/*///////////////////////////////////// H2H SECTION 320< //////////////////////////////////////////////////*/
    #h2h h2
    {
        font-size: 1.25em;
        margin: 9% 0 1%;

    }
    #h2h h2+p
    {
          margin: 4% 0 2%;
          font-size: 0.93em;
        }

     #h2h_first_text 
    {
        font-size:0.93em;
    }

      .img-text #item-for-margin 
    {
        font-size: 0.83em;
    }

    .bordered-text {
     font-size:1.25em;
    }

/*///////////////////////////////////// Contact SECTION 320< //////////////////////////////////////////////////*/
    .Formhalf{width:100%}
/*///////////////////////////////////// Footer SECTION 320< //////////////////////////////////////////////////*/
    .underlogo
    {
        font-size: 0.93em;
        margin: 4% 0 6%;

    }
    
    .svg-footer
    {
        height:73px;
        width:145px;
        margin:20px 0 0;} 

    .info {
        font-size:0.93em;
    }


    .social a {
        float: right;
    }
    .rights{margin: 3% 0;text-align:center;}
    .disapear{display:none!important;}

}

@media (min-width: 768px) {



/*////////////////////////////////////// HEADER 768< ////////////////////////////////////////////////////////*/
    
    .container{width:732px}

    #top-menu li a {
        text-align: center;
        line-height: 3.5;
        height: 73px;
    }


       #Layer_1 
       {

            height:73px;
            width: 220px;
       }

    /*#Layer_1 {
        height: 73px;
        width: 147px;
    }*/

    .nav > li > a {
        padding: 10px 10px !important;
    }

/*////////////////////////////////////// VIDEO SECTION 768< /////////////////////////////////////////////////*/

        .master-slider h2 {
        font-size: 4.05em !important;
    }

    .master-slider h1 {
        font-size: 1.86em !important;
    }


    .huge-text /*text on video */ {
        font-size: 3em;
    }
    .absolute-pos-shortcut{
    left:calc(50% - 366px);
}
    .shortcut-svg svg {
        height:3em;
    }
    .shortcut-svg {margin:0 auto 44px}
/*///////////////////////////////////// ICONS SECTION 768< /////////////////////////////////////////////////*/



    .shortcut-p {
        font-size: 0.93em;
    }

/*///////////////////////////////////// TECH SECTION 768< //////////////////////////////////////////////////*/

    #Tech_text h2  {
        font-size: 1.86em;
        margin: 7% 0 1%;
    }



    #Tech_text h2 + p {
        margin: 0;
        font-size: 1.15em;
    }

    .tech-img-container > div {
        font-size: 2em ;
        
    } 

    #Tech_block a.section 
    {
    
          font-size:1.15em;

    }


/*///////////////////////////////////// StartingPoint SECTION 768< //////////////////////////////////////////////////*/

    .different_point {
        font-size: 1.86em;
    }

    .work_backwards 
    {
      font-size: 1.15em ;
    }

.block-cell > .block-table
    {
        display:table;
        width:100%;
    }

   .block-cell 
    {        
        width: 593px;
    }
       
   .text_block 
    {
        font-size: 1.15em;
    }

    .container_sequence 
    {
     font-size: 1.15em;

    }

    .X  

    {
      width:190px;
      height:170px;
    
      top:-36px;
      left: -39px;

      background-size: 190px 170px;

    }
/*///////////////////////////////////// Arsenal SECTION 768< //////////////////////////////////////////////////*/
    #arsenal h2
    {
        font-size: 1.86em;
        /*text-align:center;*/

    }
    #arsenal p
    {
        font-size:1.15em;
        margin:0;
    }

    .first_block_text, .second_block_text 
    {
        font-size: 1.15em;
    }

    .arsenal-img-text{height:300px}
    
/*///////////////////////////////////// H2H SECTION 768< //////////////////////////////////////////////////*/
    #h2h h2
    {
          font-size: 1.86em;
          margin: 7% 0 1%;
    }
    #h2h h2+p
    {
          margin: 0;
          font-size: 1.15em;

    }

     #h2h_first_text
    {
        font-size:1.15em;
    }

     .img-text #item-for-margin 
    {
        font-size: 1.03em;
    }

   .bordered-text {
     font-size:1.86em;
    }


/*///////////////////////////////////// Contact SECTION 768< //////////////////////////////////////////////////*/
    .Formhalf{width:50%}
/*///////////////////////////////////// Footer SECTION 768< //////////////////////////////////////////////////*/



.svg-footer{
        height:73px;
        width:220px;
        margin:25px 0 0;

}

 .underlogo{
              font-size: 1.03em;

    }

    .info {
        font-size:1.03em;
    }

}

@media (min-width: 992px) {

        .container{width:970px}
/*////////////////////////////////////// HEADER 992< //////////////////////////////////////////////////////*/

    #top-menu li a {
        text-align: center;
        line-height: 3.5;
        height: 73px;
    }


    #Layer_1 {
        height: 73px;
        width: 220px;
    }

/*////////////////////////////////////// VIDEO SECTION 992< /////////////////////////////////////////////////*/

    .master-slider h2 {
        font-size: 4.5em !important;
    }

    .master-slider h1 {
        font-size: 2.05em !important;
    }


    .shortcut-svg svg {
        height: 3em;
    }

    .huge-text /*text on video */ {
        font-size: 3.25em;
    }

    .absolute-pos-shortcut{
    left:calc(50% - 485px);
}
/*///////////////////////////////////// TECH SECTION 992< //////////////////////////////////////////////////*/

    #Tech_text h2  {
        padding: 1.5% 0 1%;
        margin: 0;
        font-size: 2.05em;
    }

    #Tech_text h2 + p {
        font-size: 1.27em;
    }

    #Tech { /*section tech*/
        text-align: initial;
    }

    /*.tech-img-container > div {
        font-size: 2.286em ;

        
    }*/

    #Tech_block a.section 
    {
    
          font-size:1.27em;

    }
    
/*///////////////////////////////////// StartingPoint SECTION 992< //////////////////////////////////////////////////*/

    .different_point {
        font-size: 2.05em;
    }

    .work_backwards 
    {
      font-size: 1.27em ;
    }

    .text_block 
    {
        font-size: 1.27em;
    }

.block-cell > .block-table
    {
        display:table;
        width:100%;
    }

   .block-cell 
    {        
        width: 593px;
    }


.container_sequence 
    {
     font-size: 1.27em;
     font-weight:normal;

    }



/*///////////////////////////////////// Arsenal SECTION 992< //////////////////////////////////////////////////*/

    #arsenal h2{
          padding: 1.5% 0 1%;
          margin: 0;

        font-size: 2.05em;
        text-align:initial;

    }

    #arsenal p
    {
        font-size:1.27em;

    }

    .first_block_text, .second_block_text 
    {
        font-size: 1.27em;
    }

    .arsenal-img-text{height:600px}
    

/*///////////////////////////////////// H2H SECTION 992< //////////////////////////////////////////////////*/
    #h2h h2 {
        padding: 1.5% 0 1%;
        margin: 0;
        font-size: 2.05em;
    }
    #h2h h2+p
    {
      font-size: 1.27em;
    }
    
    #h2h_first_text 
    {
        font-size:1.27em;
    }

    .img-text #item-for-margin 
    {
        font-size: 1.15em;
    }

    .bordered-text {
     font-size:2.05em;
    }
    
/*///////////////////////////////////// Footer SECTION 992< //////////////////////////////////////////////////*/
footer .col-sm-offset-1{margin-left:0!important}
    .underlogo{
              font-size: 1.15em;
               margin: 3% 0 6%;

    }
    
    .svg-footer{
        height:73px;
        width:220px;
        margin:25px 0 0;} 
    
    .info {
        font-size:1.15em;
    }

    .social a {

        float:left;

    }
    .rights{margin:0;text-align:initial;}
    .disapear{display:block!important}
}

@media (min-width: 1200px) {
        
    .container{width:1170px}
         
        
/*////////////////////////////////////// VIDEO SECTION 1200< /////////////////////////////////////////////////*/

    .master-slider h2 {
        font-size: 5em !important;
    }

    .master-slider h1 {
        font-size: 2.28em !important;
    }



    .shortcut-svg svg {
        height: 4em;
    }

    .absolute-pos-shortcut {
        left: calc(50% - 585px);
    }

/*///////////////////////////////////// TECH SECTION 1200< //////////////////////////////////////////////////*/

    #Tech_text h2 
    {
        font-size:2.28em;
    }

    #Tech_text h2 + p
    {
        font-size:1.42em;
    }

    #Tech_block a.section 
    {
    
          font-size:1.42em;

    }

/*///////////////////////////////////// StartingPoint SECTION 1200< //////////////////////////////////////////////////*/

    .different_point {
        font-size: 2.28em;
    }

    .work_backwards 
    {
      font-size: 1.42em ;
    }

    .text_block 
    {
        font-size: 1.42em;
    }

    .container_sequence 
    {
     font-size: 1.42em;
     font-weight:normal;
    }


    /*///////////////////////////////////// Arsenal SECTION 1200< //////////////////////////////////////////////////*/

    #arsenal h2{font-size:2.28em}

    #arsenal p{font-size:1.42em}

    .first_block_text, .second_block_text 
    {
        font-size: 1.42em;
    }
    
    /*///////////////////////////////////// H2H SECTION 1200< //////////////////////////////////////////////////*/
    
    #h2h h2
    {
        font-size: 2.28em;
    }
    
    #h2h h2+p
    {
          font-size: 1.42em;
    }

    #h2h_first_text 
    {
        font-size:1.42em;
    }

    .img-text #item-for-margin 
    {
        font-size: 1.28em;
    }

    .bordered-text {
     font-size:2.28em;
    }
    
/*///////////////////////////////////// Footer SECTION 1200< //////////////////////////////////////////////////*/

 .underlogo{
              font-size: 1.28em;

    }

 .info {
        font-size:1.28em;
    }


}






