/*
    DINAMICKA DEVELOPMENT
    Documentation

    1.Funnel
    2.G2Market
    3.Sales
    4.Contact_info
    5.Awarness
    6.Marketing
    7.All styles for ContactForm and Footer located in Custom.css;
*/

/*------------temp style--------------*/
SVG-imitation{

}
/*-----------Global style--------*/
h2{
    font-family: 'Droid Serif';
    font-size: 2.28em;
    letter-spacing: 0.1em;
    color: #262626;
    text-transform: uppercase;
    line-height: 58px;
    margin: 0;
    vertical-align: bottom;
    display: inline-block
}
#Global,#Bulb,#Diagram,#Loupe,#Talk,#Thunderbolt {
    height: 54px;
    margin-right: 3px;
    display: inline-block;
}
.title{
    margin:60px auto 35px;
    text-align:center;
}
.maintext{
    font-family:Roboto;
    font-size:1.71em;
    letter-spacing:0.1em;
    color:#262626;
    text-align:left;
    margin-bottom: 35px;
}
.mainimg{
    width:100%;
    height:520px;
    background-size:cover;
    background-position:center;
    margin-bottom: 35px;

}
.btn_container{
        width: 100%;
    text-align: center;
}
.bordered-btn {
    font-family: Roboto;
    font-size: 2.28em;
    color: #fafafa;
    font-weight: 300;
    display: inline-block;
    padding: 5px;
    border: 1px solid #FAFAFA;
    margin: 35px 54px;
    position: relative;
    cursor: pointer;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.bordered-btn:hover,.active-btn{
    background-color:#fafafa;
    color:#262626;
}
.bordered-btn:after{
    content: '';
    border-right: 1px solid #fafafa;
    position: absolute;
    top: -36px;
    display: block;
    height: 36px;
    width: 1px;
    left: calc(50%);
}
/* styles for BtnClick logick*/
.unvisible {
    width: 67%;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.active{height:380px}
.caseItem{
    width: 77%;
    height: 280px;
    margin: 30px auto;
    background-image: url('../images/tempFile.png');
    background-color: powderblue;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
        background-size: contain;
}
.videoItem{
    width: 77%;
    height: 130px;
    margin: 30px auto;
    background-image: url('../images/tempPlay.png');
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
        background-size: contain;
}
.docItem{
    width: 77%;
    height: 280px;
    margin: 30px auto;
    background-image: url('../images/tempFile.png');
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
        background-size: contain;
}
/* styles for BtnClick logick - end*/
/*Styles for 2-nd animation*/
#SVG-container {
    position: absolute;
    width: 200px;
    background-color:#fafafa;
    height: 85px;
    margin-top:90px;
    top: calc(50% - 202px);
    left: calc(50% - 100px);
    background-image:url('../images/Icons1.svg');
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    -webkit-transform-origin: top;
    transform-origin: top;
    z-index: 1;
    opacity: 0;
    -moz-transition: top 2s,left 2s,width 2s,height 2s,opacity .3s;
    -o-transition: top 2s,left 2s,width 2s,height 2s,opacity .3s;
    -webkit-transition: top 2s,left 2s,width 2s,height 2s,opacity .3s;
    transition: top 2s,left 2s,width 2s,height 2s,opacity .3s;
}
#pseudoBody {
    display: none;
    opacity: 0;
    -moz-transform-origin: 50% 4.5%;
    -ms-transform-origin: 50% 4.5%;
    -o-transform-origin: 50% 4.5%;
    -webkit-transform-origin: 50% 4.5%;
    transform-origin: 50% 4.5%;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -moz-transition: transform 1s ease-in-out,opacity 1s;
    -o-transition: transform 1s ease-in-out,opacity 1s;
    -webkit-transition: transform 1s ease-in-out,opacity 1s;
    transition: transform 1s ease-in-out,opacity 1s;
}

/*Styles for 2-nd animation - end*/

/*
    <================ 1.Funnel ===================>
*/
#funnelH2{
    color: #fafafa;
    width: 100%;
    text-align: center;
    margin: 76px 0 32px;
}
#funneltext{
    color: #fafafa;
    text-align: center;
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
}
.lt_sp{
    letter-spacing:0.1em;
}
#Stage{
    margin:35px auto 0;
}



.forMobileBlock {
    margin: 10px 0;
}
.text-container{
    width:100%;
    background-color:#fafafa;
    margin: 10px auto;    
}
.first-char {
    margin: 0;
    width: auto;
    height: auto;
    display: block;
    font-family: droid-serif, serif;
    font-size: 24px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 0.1em;
    text-align:  center;

}
.second-char {
    margin: 0;
    width: auto;
    height: auto;
    display: block;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-style: normal;
    text-align:  center;
}

/*
    <=-=-=-=-=-=-=-=-=-=-Animation section=-=-=-=-=-=--=-=-=-=-=-=->
*/
#Stage_Text_strips {
    clip: rect(0px, 894px,468px,0px);

    -moz-transition: clip ease-out 1s;
    -o-transition: clip ease-out 1s;
    -webkit-transition: clip ease-out 1s;
    transition: clip ease-out 1s;
}
#Stage_Icons_strips {
    -moz-transition: left ease-in-out 1s;
    -o-transition: left ease-in-out 1s;
    -webkit-transition: left ease-in-out 1s;
    transition: left ease-in-out 1s;
}

.fadeout-anim {
    -moz-animation: FadeOut 1s ease-out forwards;
    -o-animation: FadeOut 1s ease-out forwards;
    -webkit-animation: FadeOut 1s ease-out forwards;
    animation: FadeOut 1s ease-out forwards;
}
@-moz-keyframes FadeOut{
    from{opacity:0;}
    to{opacity:1;}
}

@-webkit-keyframes FadeOut{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes FadeOut{
    from{opacity:0;}
    to{opacity:1;}
}
/*
    <=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=>
*/
/*
    <================ 2.G2Market ===================>
*/
#G2Market .mainimg{
    background-image:url('../images/Assets/Rectangle 3.png');
}

/*
    <================ 3.Sales ===================>
*/
#Sales .mainimg{
    background-image:url('../images/Assets/Rectangle 3 copy.png');
}
/*
    <================ 4.Contact_info ===================>
*/
#Contact_info .mainimg{
    background-image:url('../images/Assets/Rectangle 3 copy 2.png');
}
/*
    <================ 5.Awarness ===================>
*/
#Awarness .mainimg{
    background-image:url('../images/Assets/Rectangle 3 copy 3.png');
}

/*
    <================ 6.Marketing ===================>
*/
#Marketing .mainimg{
    background-image:url('../images/Assets/Rectangle 3 copy 4.png');
}





/*
    for 320
*/
@media (min-width: 320px) {

/*=-=-=-=-=-=-=-=- General 320px*/
h2{font-size:2.28em;}
.maintext{font-size:1.2em;}
.mainimg{height:220px;}
.bordered-btn{font-size: 1em;padding: 6px;margin: 33px 2px;}
.title{margin:7px auto 20px;}


.unvisible{width:100%;}
.active{height:140px;}
.caseItem,.docItem{width: 100%;height: 100px;}
.videoItem{width: 100%;height: 32px;}

/* =-=-=-=-=-=-=-=-=- funnel 320px*/

#funnelH2 {margin: 5px 0 5px;}
#funneltext{width:100%;font-size:1em;}

}


@media (min-width: 768px) {

/*=-=-=-=-=-=-=-=- General 768px*/
h2{font-size:2.28em;}
.maintext{font-size:1.3em;}
.mainimg{height:350px;}
.bordered-btn{padding: 5px;font-size: 2.28em;margin: 35px 15px;}
.title{margin:7px auto 20px;}


.unvisible{width:100%;}
.active{height:270px;}
.caseItem,.docItem{width: 95%;height: 280px;background-size: initial;}
.videoItem{width: 95%;height: 85px;background-size: initial;}

/* =-=-=-=-=-=-=-=-=- funnel 768px*/

#funnelH2 {margin: 5px 0 5px;}
#funneltext{width:100%;font-size:1.3em;}
}

@media(min-width: 992px){
    /*=-=-=-=-=-=-=-=- General 992px*/
h2{font-size:2.28em;}
.mainimg{height:450px;}
.bordered-btn{padding: 5px;font-size: 2.28em;margin: 35px 15px;}
.title{margin:7px auto 20px;}


.unvisible{width:100%;}
.active{height:350px;}
.caseItem,.docItem{width: 77%;height: 280px;background-size: initial;}
.videoItem{width: 77%;height: 130px;background-size: initial;}

/* =-=-=-=-=-=-=-=-=- funnel 992px*/

#funnelH2 {margin: 5px 0 5px;}
#funneltext{width:100%;font-size:1.2em;}
}


@media(min-width: 1170px){
    /*=-=-=-=-=-=-=-=- General 1170px*/
h2{font-size:2.28em;}
.mainimg{height:290px;}
.bordered-btn{padding: 5px;font-size: 2.28em;margin: 35px 54px;}
.title{margin:60px auto 35px;}

#Stage {
        margin:0 auto;
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
        -webkit-transform: scale(.8);
        transform: scale(.8);
}

.unvisible{width:67%;}
.active{height:380px;}
.caseItem,.docItem{width: 77%;height: 280px;background-size: initial;}
.videoItem{width: 77%;height: 130px;background-size: initial;}

/* =-=-=-=-=-=-=-=-=- funnel 1170px*/
#SVG-container{height:67px;top:calc(50% - 138px)}
#funnelH2 {margin: 5px 0 5px;}
#funneltext{width:50%;font-size:1.15em;}
}


@media(min-width:1368px){

.mainimg{height:520px;}

#funnel .maintext{font-size:1.15em;}

h2{font-size:2.28em;}

.maintext{font-size:1.8em;}

.bordered-btn{padding: 5px;font-size: 2.28em;margin: 35px 54px;}

.title{margin:60px auto 35px;}

#Stage {
        margin:35px auto 0;
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
}

.unvisible{width:67%;}
.active{height:380px;}
.caseItem,.docItem{width: 77%;height: 280px;background-size: initial;}
.videoItem{width: 77%;height: 130px;background-size: initial;}
    #funnelH2 {    margin: 76px 0 32px;}
    #SVG-container{height:85px;top:calc(50% - 202px)}

}










